@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: 'DM Sans', sans-serif;
  --font-fraunces: 'Fraunces', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-sans {
  font-family: var(--font-dm-sans);
}

.font-serif {
  font-family: var(--font-fraunces);
}